#card{
  h1{
    text-align: center;
    margin: 10px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
  }
  .card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &--name{
      h2{
        margin: 10px 0;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #494949;
      }
      input{
        margin: 20px 0;
        padding: 0 10px;
        color: #827B7B;
        width: 355px;
        height: 50px;
        background: #FAF9F9;
      }
    }
    &--number{
      display: flex;
      align-items: center;
      &__date{
        margin: 0 12px;
        h2{
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          color: #494949;
        }
        input{
          margin: 25px 0;
          width: 165px;
          height: 45px;
          color: #827B7B;
          padding: 0 5px;
          background: #FAF9F9;
        }
      }
      &__cvv{
        margin: 0 10px;
        h2{
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          color: #494949;
        }
        input{
          width: 165px;
          height: 45px;
          color: #827B7B;
          padding: 0 5px;
          background: #FAF9F9;
        }
      }
    }
    &--delivery{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h1{
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
      }
      input{
        color: #827B7B;
        width: 355px;
        height: 50px;
        padding: 0 10px;
        background: #FAF9F9;
      }
    }
    &--btn{
      margin-top: 10%;
      button{
        width: 355px;
        height: 55px;
        color: #ECE7E7;
        background: #F86D3B;
      }
    }
  }
}



@media (max-width: 320px) {
  #card{
    .card{
      &--name{
        input{
          width: 275px;
        }
      }
      &--number{
        &__cvv{
          input{
            width: 100px;
          }
        }
        &__date{
          width: 157px;
        }
      }
      &--delivery{
        input{
          width: 279px;
        }
      }
      &--btn{
        button{
          width: 279px;
        }
      }
    }
  }

}