#chat {

  .chat {
    &--B {
      display: flex;
      padding: 10px 0;

      h1 {
        font-weight: 500;
        font-size: 25px;
        padding: 0 20px;
      }

    }

    &--message {
      h2 {
        font-weight: 500;
        font-size: 26px;
        padding-left: 1.5%;
      }
    }
  }
}