#cuisine {
  padding: 15px 0;

  h1 {
    padding: 10px 0;
    font-weight: 500;
    font-size: 24px;
    color: black;
  }

  .cuisine {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &--baklava {
      border: 1px solid #F86D3B;
      border-radius: 14px;
      width: 30%;
      height: 250px;
      margin: 10px 10px;

      .eastern {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          font-weight: 500;
          font-size: 20px;
          color: #F86D3B;
          text-align: center;
        }

        span {
          font-weight: 500;
          font-size: 18px;
          color: #F86D3B;
          padding: 0 20%;
          text-align: center;

        }

        .image {
          display: flex;
          justify-content: center;
          height: 160px;

          img {
            width: 90%;
            padding: 10px 12%;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #cuisine {
    .cuisine {
      &--baklava {
        width: 35%;
        height: 200px;

        .eastern {
          .image {
            height: 140px;

            img {
              width: 100%;
              height: 130px;
              padding: 10px 1%;
            }
          }

          p {
            font-size: 18px;
          }

          span {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #cuisine {
    .cuisine {
      &--baklava {
        height: 190px;

        .eastern {
          .image {
            height: 120px;

            img {
              height: 110px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #cuisine .cuisine--baklava {
    width: 44%;
  }
}

@media (max-width: 360px) {
  #cuisine {
    .cuisine {
      &--baklava {
        width: 43%;
        height: 180px;
      }
    }
  }
}