#pizza {
  padding: 15px 0;

  h1 {
    padding: 10px 0;
    font-weight: 500;
    font-size: 24px;
    color: black;
  }

  .pizza {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &--margarito {
      border: 1px solid #F86D3B;
      border-radius: 14px;
      width: 30%;
      height: 250px;
      margin: 10px 10px;

      .pizzaFood {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          font-weight: 500;
          font-size: 20px;
          color: #F86D3B;
          text-align: center;
        }

        span {
          font-weight: 500;
          font-size: 18px;
          color: #F86D3B;
          padding: 0 22%;
          align-items: center;
        }

        img {
          width: 80%;
          padding: 20px 10%;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #pizza {
    .pizza {
      &--margarito {
        width: 35%;
        height: 250px;

        .pizzaFood {
          img {
            width: 100%;
          }

          p {
            font-size: 18px;
          }

          span {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #pizza .pizza--margarito {
    width: 35%;
    height: 220px;
  }
}

@media (max-width: 400px) {
  #pizza .pizza--margarito {
    width: 44%;
    margin: 10px;
  }
}

@media (max-width: 360px) {
  #pizza {
    .pizza {
      &--margarito {
        width: 43%;
        height: 190px;

        .pizzaFood {
          p {
            font-size: 14px;
          }

          span {
            font-size: 10px;
          }
          img{
            padding: 8px 10% 20px 10%;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #pizza {
    .pizza {
      &--margarito {
        width: 43%;
        margin: 10px 10px;
        height: 180px;
        .nationalFood{
          img{
            height: 115px;
          }
          p{
            font-size: 12px;
          }
          span{
            font-size: 9px;
          }
        }
      }
    }
  }
}