#detail{
  .detail{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &--img{
      h2{
        text-align: center;
        font-weight: 500;
        font-size: 30px;
        color: #F86D3B;
      }
      h4{
        text-align: center;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: #F86D3B;

      }
      img{
        margin-left: 1%;
      }
    }
    &--block{
      background: #ECE7E7;
      width: 410px;
      height: 50px;
      margin-top: 4%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img{
        width: 70px;
      }
      &__image{
        display: flex;
        align-items: center;
        img{
          margin: 0 10px;
        }
        h1{
          font-weight: 500;
          font-size: 20px;
          color: #F86D3B;
        }
      }
      &__state{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 10px;
        h1{
          margin: 0 15px;
        }
        button{
          width: 35px;
          height: 25px;
          background: #F86D3B;
          border-radius: 6px;
        }
        span{
          text-align: center;
          width: 35px;
          height: 25px;
          background: #F3F2F2;
          border-radius: 6px;
        }
        h1{
          font-size: 20px;
        }
      }
    }
    &--btn{
      width: 330px;
      height: 65px;
      color: white;
      font-size: 20px;
      font-weight: 500;
      background: #F86D3B;
    }
  }
}



@media (max-width: 576px) {
  #detail{
    .detail{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      &--block{
        &__state{
        }
      }
      &--img{
        img{
          margin-left: 1%;
        }
      }
    }
  }
}
@media (max-width: 376px) {
  #detail{
    .detail{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      &--block{
        width: 300px;
        &__state{
        }
      }
      &--img{
        img{
          margin-left: 1%;
        }
      }
      &--btn{
        width: 300px;
        height: 40px;
      }
    }
  }
}