#settings {
  .settings {

    &--B {
      display: flex;
      padding: 10px 0;

      h1 {
        font-weight: 500;
        font-size: 25px;
        color: black;
        padding: 0 10px;
      }
    }

    h2 {
      font-weight: 500;
      font-size: 20px;
      color: black;
      padding: 0 8px;
    }

    &--profile {
      display: flex;
      align-items: center;
      flex-direction: column;

      h1 {
        font-weight: 500;
        font-size: 24px;
        color: black;
        padding: 10px 0;
      }

      div {
        background: #F86D3B;
        width: 155px;
        height: 155px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
          font-size: 90px;
          color: white;
        }
      }
    }

    &--personal {
      background: #FAF9F9;
      border-radius: 9px;
      width: 100%;
      height: 70px;
      border: none;
      display: flex;
      align-items: center;
      padding: 10px 10px;
      margin: 20px 0;

      h3 {
        font-weight: 500;
        font-size: 24px;
        color: black;
        padding: 0 20px;
      }

      &__icon {
        color: #F86D3B;
        font-size: 2rem;
      }
    }

    &--payment {
      background: #FAF9F9;
      border-radius: 9px;
      width: 100%;
      height: 70px;
      border: none;
      display: flex;
      align-items: center;
      padding: 10px 10px;
      margin: 20px 0;
      cursor: pointer;

      h3 {
        font-weight: 500;
        font-size: 24px;
        color: black;
        padding: 0 20px;
      }

      &__icon {
        color: #999999;
        font-size: 2rem;
      }
    }

    &--share {
      width: 50%;
      height: 250px;
      position: absolute;
      border-radius: 10px;
      background: #fff;
      border: 5px solid #F86D3B;
      top: 65%;
      left: 25%;
      animation: 2s animate ease-out;

      @keyframes animate {
        0% {
          transform: translateY(-200px);
          transition: .5s;
        }
        50% {
          transform: scale(1.1);
        }
        170% {
          transform: scale(1.1);
        }

      }

      &__text {
        display: flex;
        align-items: center;

        h2 {
          font-weight: 600;
          font-size: 30px;
          color: #000;
          padding: 0 30px;
        }

        &--icon {
          font-size: 40px;
          padding: 0 50%;
        }
      }

      &__payment {
        display: flex;
        align-items: center;
        padding: 30px 0;

        &--elKart {
          width: 36%;
          padding: 0 20px;
        }

        &--mBank {
          //width: 10%;
        }

        &--visa {
          width: 34%;
          padding: 0 20px;
        }
      }
    }

    &--login {
      background: #FAF9F9;
      border-radius: 9px;
      width: 100%;
      height: 70px;
      border: none;
      display: flex;
      align-items: center;
      padding: 10px 10px;
      margin: 20px 0;

      h3 {
        font-weight: 500;
        font-size: 24px;
        color: black;
        padding: 0 20px;
      }

      &__icon {
        color: #999999;
        font-size: 2rem;
      }
    }

    &--friend {
      background: #FAF9F9;
      border-radius: 9px;
      width: 100%;
      height: 70px;
      border: none;
      display: flex;
      align-items: center;
      padding: 10px 10px;
      margin: 20px 0;
      cursor: pointer;

      h3 {
        font-weight: 500;
        font-size: 24px;
        color: black;
        padding: 0 20px;
      }

      &__icon {
        color: #999999;
        font-size: 2rem;
      }
    }

    &--invites  {
      width: 40%;
      height: 200px;
      position: absolute;
      border-radius: 10px;
      background: #fff;
      border: 5px solid #F86D3B;
      top: 65%;
      left: 32%;
      animation: 2s animate ease-out;

      @keyframes animate {
        0% {
          transform: translateY(-200px);
          transition: .5s;
        }
        50% {
          transform: scale(1.1);
        }
        170% {
          transform: scale(1.1);
        }

      }
      &__text {
        display: flex;
        align-items: center;

        h3 {
          font-weight: 500;
          font-size: 24px;
          color: black;
          padding: 0 20px;
          text-align: center;
        }

        &--icon {
          color: #999999;
          font-size: 2rem;
          padding-left: 30%;
        }
      }

      &__social {
        display: flex;
        align-items: center;
        justify-content: center;

        &--whatsapp {
          &__icon {
            background: green;
            color: #FFFFFF;
            border-radius: 40px;
            font-size: 60px;
            border: none;
          }
        }

        &--instagram {
          margin: 0 50px;
          &__icon {
            color: rgba(225, 7, 7, 0.91);
            font-size: 50px;
            border: none;
            margin: 20px 0;
          }
        }

        &--facebook  {
          &__icon {
            color: #0543b0;
            font-size: 60px;
            border: none;
          }
        }
      }
    }

    &--notification {
      background: #FAF9F9;
      border-radius: 9px;
      width: 100%;
      height: 70px;
      border: none;
      display: flex;
      align-items: center;
      padding: 10px 10px;
      margin: 20px 0;

      h3 {
        font-weight: 500;
        font-size: 24px;
        color: black;
        padding: 0 20px;
      }

      &__icon {
        color: #999999;
        font-size: 2rem;
      }
    }

    &--logOut {
      background: #FAF9F9;
      border-radius: 9px;
      width: 100%;
      height: 70px;
      border: none;
      display: flex;
      align-items: center;
      padding: 10px 10px;
      margin: 50px 0 20px 0;

      h3 {
        font-weight: 500;
        font-size: 24px;
        color: black;
        padding: 0 20px;
      }

      &__icon {
        color: #999999;
        font-size: 2rem;
      }
    }

  }
}

@media (max-width: 601px) {
  #settings {
    .settings{
      &--invites{
        width: 60%;
        left: 23%;
        height: 200px;

        &__text {

          &--icon {
            font-size: 2rem;
            padding-left: 27%;
          }
        }

        &__social {
          &--whatsapp {
            &__icon {
              font-size: 45px;
              border: none;
            }
          }

          &--instagram {
            margin: 0 50px;
            &__icon {
              font-size: 45px;
              margin: 20px 0;
            }
          }

          &--facebook  {
            &__icon {
              font-size: 45px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 376px) {
  #settings {
    .settings {
      &--B {
        h1 {
          font-size: 22px;
          padding: 5px 6px;
        }
      }

      &--personal {
        h3 {
          font-size: 22px;
        }

        &__icon {
          font-size: 33px;
        }
      }

      &--payment {
        h3 {
          font-size: 22px;
        }

        &__icon {
          font-size: 33px;
        }
      }

      &--login {
        h3 {
          font-size: 22px;
        }

        &__icon {
          font-size: 33px;
        }
      }

      &--friend {
        h3 {
          font-size: 22px;
        }

        &__icon {
          font-size: 33px;
        }
      }

      &--notification {
        h3 {
          font-size: 22px;
        }

        &__icon {
          font-size: 33px;
        }
      }
    }
  }
}