#settings{
  .settings {
    &--B{
      display: flex;
      padding: 10px 0;

      h1{
        font-weight: 500;
        font-size: 25px;
        color: black;
        padding: 0 10px;
      }
    }
  }
}