#national {
  padding: 15px 0;
  .national {
    h1 {
      padding: 10px 0;
      font-weight: 500;
      font-size: 24px;
      color: black;
    }

    &--group {
      display: flex;


      &__fiveB {
        border: 2px solid #F86D3B;
        border-radius: 14px;
        width: 30%;
        height: 250px;
        margin: 0 20px;
        p {
          font-weight: 500;
          font-size: 20px;
          color: #F86D3B;
          text-align: center;
        }
        span{
          font-weight: 500;
          font-size: 18px;
          color: #F86D3B;
          padding: 0 20%;

        }
        img {
          width: 150%;
          padding: 0 10%;
        }

      }

      &__manty {
        border: 2px solid #F86D3B;
        border-radius: 14px;
        width: 30%;
        height: 250px;
        margin: 0 20px;
        p {
          font-weight: 500;
          font-size: 20px;
          color: #F86D3B;
          text-align: center;
        }
        span{
          font-weight: 500;
          font-size: 18px;
          color: #F86D3B;
          padding: 0 20%;

        }
        img {
          width: 150%;
          padding: 0 10%;
        }

      }

      &__kuurdak {
        border: 2px solid #F86D3B;
        border-radius: 14px;
        width: 30%;
        height: 250px;
        margin: 0 20px;
        p {
          font-weight: 500;
          font-size: 20px;
          color: #F86D3B;
          text-align: center;
        }
        span{
          font-weight: 500;
          font-size: 18px;
          color: #F86D3B;
          padding: 0 20%;

        }
        img {
          width: 150%;
          padding: 0 10%;
        }

      }
    }
  }
}

