#national {
  padding: 15px 0;

  .national {
    h1 {
      padding: 10px 0;
      font-weight: 500;
      font-size: 24px;
      color: black;
    }

    &--group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;


      &__fiveB {
        border: 1px solid #F86D3B;
        border-radius: 14px;
        width: 30%;
        height: 250px;
        margin: 10px 20px;

        .nationalFood{
          display: flex;
          flex-direction: column;
          align-items: center;
          p {
            font-weight: 500;
            font-size: 20px;
            color: #F86D3B;
            text-align: center;
          }

          span {
            font-weight: 500;
            font-size: 18px;
            color: #F86D3B;
            padding: 0 20%;
            text-align: center;

          }

          img {
            width: 80%;
            height: 150px;
            padding: 20px 10%;
          }
        }

      }
    }
  }
}

@media (max-width: 576px) {
  #national{
    .national{
      &--group{
        &__fiveB{
          width: 35%;
          height: 200px;
          .nationalFood{
            img{
              width: 100%;
              height: 130px;
            }
            p{
              font-size: 18px;
            }
            span{
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  #national{
    .national{
      &--group{
        &__fiveB{
          height: 180px;
          .nationalFood{
            img{
              height: 120px;
            }
            p{
              font-size: 16px;
            }
            span{
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  #national{
    .national{
      &--group{
        &__fiveB{
          width: 38%;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  #national{
    .national{
      &--group{
        &__fiveB{
          width: 37%;
          height: 170px;
          .nationalFood{
            p{
              font-size: 14px;
            }
            span{
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #national{
    .national{
      &--group{
        &__fiveB{
          width: 43%;
          margin: 10px 10px;
          height: 160px;
          .nationalFood{
            img{
              height: 115px;
            }
            p{
              font-size: 12px;
            }
            span{
              font-size: 9px;
            }
          }
        }
      }
    }
  }
}
