#coldDrink {
  padding: 15px 0;

  h1 {
    padding: 10px 0;
    font-weight: 500;
    font-size: 24px;
    color: black;
  }

  .coldDrink {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &--pepsi {
      border: 1px solid #F86D3B;
      border-radius: 14px;
      width: 30%;
      height: 240px;
      margin: 10px 10px;

      .colds {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          font-weight: 500;
          font-size: 20px;
          color: #F86D3B;
          text-align: center;
        }

        span {
          font-weight: 500;
          font-size: 18px;
          color: #F86D3B;
          padding: 5px 20%;
          text-align: center;
        }

        .image {
          display: flex;
          justify-content: center;
          height: 160px;

          img {
            width: 80%;
            padding: 10px 12%;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #coldDrink .coldDrink--pepsi {
    width: 35%;
  }
}

@media (max-width: 450px) {
  #coldDrink .coldDrink--pepsi .colds .image {
    height: 130px;
  }
  #coldDrink .coldDrink--pepsi .colds p {
    font-size: 18px;
  }
  #coldDrink .coldDrink--pepsi .colds span {
    font-size: 13px;
  }
  #coldDrink .coldDrink--pepsi {
    height: 205px;
  }
}

@media (max-width: 400px) {
  #coldDrink .coldDrink--pepsi {
    width: 44%;
    margin: 10px;
  }
}

@media (max-width: 360px) {
  #coldDrink {
    .coldDrink {
      &--pepsi {
        width: 43%;
        height: 180px;
        .colds{
          p {
            font-size: 14px;
          }

          span {
            font-size: 10px;
          }
        }
      }
    }
  }
}