#header {
  .header {
    padding: 20px 0;

    &--burger {
      font-size: 40px;
    }

    img {
      width: 16%;
    }
  }
}

//  Burger-Menu



@media (max-width: 992px) {
  #header {
    .header {
      img {
        width: 8%;
      }
    }
  }
}

@media (max-width: 655px) {
  #header {
    .header {
      justify-content: space-between;

      img {
        width: 10%;
      }
    }
  }
}

@media (max-width: 550px) {
  #header {
    .header {
      padding: 20px 20px;
    }
  }
}

@media (max-width: 451px) {
  #header {
    .header {
      h1 {
        font-size: 30px;
      }

      img {
        width: 12%;
      }
    }
  }
}

@media (max-width: 376px) {
  #header {
    .header {
      &--burger {
        font-size: 38px;
      }

      h1 {
        font-size: 28px;
      }

      img {
        width: 14%;
      }
    }
  }
}

@media (max-width: 321px) {
  #header {
    .header {
      &--burger {
        font-size: 34px;
      }

      h1 {
        font-size: 26px;
      }

      img {
        width: 15%;
      }
    }
  }
}

