#forgetCode{
  .forgetCode{
    display: flex;
    flex-direction: column;
    align-items: center;
    &--logo{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      h1{
        margin-top: -25px;
        font-weight: 500;
        font-size: 70px;
        font-family: sans-serif;
        color: #F86D3B;
      }
    }
    &--form{
      width: 60%;
      margin-top: 50px;
      h2{
        font-weight: 500;
        font-size: 26px;
        font-family: sans-serif;
        color: #000000;
        margin-top: 20px;
        text-align: center;
      }
      p{
        font-weight: 500;
        font-size: 18px;
        font-family: sans-serif;
        color: #000000;
        margin-top: 20px;
        text-align: center;
      }
      &__block{
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px 0;
        margin-top: 50px;
        input{
          width: 60px;
          height: 60px;
          background: #9b9696;
          border: none;
          font-weight: 400;
          font-size: 25px;
          text-align: center;
          color: #050404;
          margin: 0 10px;
        }
      }
    }
    button{
      width: 40%;
      padding: 15px 0;
      border: none;
      font-weight: 600;
      font-size: 25px;
      color: #FAF9F9;
      background: #F86D3B;
      border-radius: 15px;
      margin-top: 50px;
    }
  }
}


@media (max-width: 660px){
  #forgetCode{
    .forgetCode{
      &--form{
        width: 80%;
      }
      button{
        width: 60%;
      }
    }
  }
}

@media (max-width: 460px) {
  #forgetCode{
    .forgetCode{
      &--form{
        width: 90%;
      }
      button{
        width: 80%;
      }
    }
  }
}

@media (max-width: 400px) {
  #forgetCode{
    .forgetCode{
      &--logo{
        h1{
          font-size: 58px;
        }
      }
      &--form{
        width: 90%;
        h2{
          font-size: 18px;
        }
        &__block{
          input{
            font-size: 16px;
          }
        }
      }
      button{
        width: 80%;
        font-size: 24px;
      }
    }
  }
}