@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;200;300&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  padding: 0;
  margin: 0;
}

.container {
  width: 992px;
  margin: 0 auto;
}
body {
  font-family: "Poppins", sans-serif;
}

button, input {
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}